  * {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('pictures/boat.jpg');
    background-position: center;
    background-size: cover;
  }

  body {
  height: 100vh;
  overflow: hidden;
}


  .container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  .navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1;
    background: none;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    background: inherit;
  }


  .navbar ul li {
    margin: 0 0.3rem;
    padding: 1rem;
    background: inherit;
  }

  .navbar ul li a {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: inherit;
  }

  .navbar ul li {
    transition: all .5s ease;
    background: none;
  }

  .navbar ul li:hover {
    transform: scale(1.1);
  }


section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  background: none;
}

.author {
  background: none;
}

.author .webdev {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
}

.author .webdev .authorpres {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 10px;
}

.author .webdev .authorinfo h2 {
  font-family: 'Poppins';
  font-weight: 400;
}

.author .authorinfo h3, h4  {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 0;
}

.author .authorinfo h4 {
  font-weight: 400;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.aboutwrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: .2rem .1rem .3rem rgba(0,0,0,.5);
  padding: 5rem 2rem;
  transition: all .4s ease;
  background: none;
}

.aboutwrap:hover {
  box-shadow: .2rem .3rem .5rem rgba(0,0,0,.5);
}

.about h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: .5rem 2rem;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.projects h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 1.5rem;
  padding-top: 2rem;
  background: none;
}

.footer h2 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  background: none;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 2rem;
  background: none;
}

.footer ul li {
  margin: 10px;
  font-size: 2.5rem;
  background: none;
}

.footer ul .fab {
  transition: all .5s ease;
}

.footer ul .fab:hover {
  transform: scale(1.1);
}

.fa-facebook-square {
  color: #3B5999;
  background: none;
}

.fa-twitter-square {
  color: #55acee;
  background: none;
}

.fa-github-square {
  color: #2C3A47;
  background: none;
}

.fa-address-card {
  font-size: 2rem;
  color: #2C3A47;
  background: none;
}

.contactbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: .2rem;
  margin: .5rem .5rem .5rem .2rem;
  background: none;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #4b7bec;
  cursor: pointer;
  color: white;
  transition: .8s;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  color:#4b7bec;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0984e3;
  z-index: -1;
  transition: 0.8s;
  overflow: hidden;
}

.btn1 {
  z-index: 2;
}

.btn1::after {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1::after {
    height: 180%;
}

.btn1:hover::after {
  height: 0%;
}

@media screen and (min-width: 700px) {


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .card1:nth-child(1) {
      animation: fadeIn .5s .5s backwards;
    }

    .card2:nth-child(2) {
      animation: fadeIn .5s 1s backwards;
    }

    .card3:nth-child(3) {
      animation: fadeIn .5s 1.5s backwards;
    }

    .card1:hover, .card2:hover, .card3:hover {
      transform: scale(1.03);
    }

  }
