  * {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('pictures/boat.jpg');
    background-position: center;
    background-size: cover;
  }

  body {
  height: 100vh;
  overflow: hidden;
}


  .container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  .navbar {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(254, 251, 246, .9);
  }

  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    background: inherit;
  }


  .navbar ul li {
    margin: 0 0.3rem;
    padding: 1rem;
    background: inherit;
  }

  .navbar ul li a {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: inherit;
  }

  .navbar ul li {
    transition: all .5s ease;
    background: none;
  }

  .navbar ul li:hover {
    transform: scale(1.1);
  }


section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  background: none;
}

.webdev {
  border-top: 1px solid rgba(0,0,0,.4);
  border-bottom: 1px solid rgba(0,0,0,.4);
}

.author .webdev {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
}

.author .webdev .authorpres {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 10px;
  animation-name: intro;
  animation-duration: 3s;
}

.author .webdev .authorinfo {
  animation: intro2 2s 1;
}

.author .webdev .authorinfo h2 {
  font-family: 'Poppins';
  font-weight: 600;
}

.author .authorinfo h4  {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 0;
}

.author .authorinfo h4 {
  font-weight: 400;
}

@keyframes intro {
  from {
    margin-right: 55px;
  }
  to {
    margin-right: 10px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}

.aboutwrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  box-shadow: .2rem .1rem .3rem rgba(0,0,0,.5);
  padding: 5rem 2rem;
  transition: all .4s ease;
  background: none;
}

.aboutwrap:hover {
  box-shadow: .2rem .3rem .5rem rgba(0,0,0,.3);
}

.about h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #f7f1e3;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: -2rem;
  background: rgba(205, 97, 51,.8);
  position: relative;
  width: 800px;
  border-radius: 3px;
}

.about h2::before {
  content: '';
  display: block;
  width: 200px;
  height: 1px;
  position: absolute;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 50%;
}

.about h2::after {
  content: '';
  display: block;
  width: 200px;
  height: 1px;
  position: absolute;
  background: rgba(0,0,0,.5);
  right: 0;
  top: 50%;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: .5rem 2rem;
  background: none;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.cardwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: none;
}

.card1, .card2, .card3 {
  width: 20%;
  margin: 1rem;
  background: none;
  color: #f7f1e3;
  height: 25rem;
  margin: 0 3rem;
  border-radius: 5px;
}

.cardwrapper h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: rgba(179, 57, 57,.7);
  width: 100%;
  margin-bottom: 1rem;
}

.cardwrapper .image {
  width 100%;
  height: 10.5rem;
}

.cardwrapper .image1 {
  background: url('pictures/art1.jpg');
  background-size: cover;
  width 100%;
  height: 10.5rem;
}

.cardwrapper .image2 {
  background: url('pictures/art2.jpg');
  background-size: cover;
  width 100%;
  height: 10.5rem;
}

.cardwrapper .image3 {
  background: url('pictures/art3.jpg');
  background-size: cover;
  width 100%;
  height: 10.5rem;
}

.image1, .image2, .image3 {
  margin-bottom: 1rem;
  background-position: center;
}

.cardwrapper p {
  background: rgba(44, 44, 84,.9);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 1.5rem;
  padding-top: 2rem;
  background: none;
}

.footer h2 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  background: none;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 2rem;
  background: none;
}

.footer ul li {
  margin: 10px;
  font-size: 2.5rem;
  background: none;
}

.footer ul li a {
  background: none;
}

.footer ul .fab {
  transition: all .5s ease;
  background: none;
}

.footer ul .fab:hover {
  transform: scale(1.1);
}

.fa-facebook-square {
  color: #3B5999;
  background: none;
}

.fa-twitter-square {
  color: #55acee;
  background: none;
}

.fa-github-square {
  color: #2C3A47;
  background: none;
}

.fa-address-card {
  font-size: 2rem;
  color: #2C3A47;
  background: none;
}

.contactbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
}

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: .2rem;
  margin: .5rem .5rem .5rem .2rem;
  background: none;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #4b7bec;
  cursor: pointer;
  color: white;
  transition: .8s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  color:#4b7bec;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0984e3;
  z-index: -1;
  transition: 0.8s;
  overflow: hidden;
}

.btn1 {
  z-index: 2;
}

.btn1::after {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1::after {
    height: 180%;
}

.btn1:hover::after {
  height: 0%;
}

@media screen and (max-width: 800px) {
    .card1 .card1head {
      padding: .06rem;
    }

    .card1, .card2, .card3 {
      width: 25%;
      margin: 1rem;
    }

    .about h2 {
    margin-bottom: .6rem;
    }

    .about p {
      margin: .5rem 6.7rem;
    }
  }

@media screen and (max-width: 600px) {

  .projects {
    height: 155vh;
  }

  .cardwrapper {
    flex-direction: column;
  }

  .card1, .card2, .card3 {
  width: 60%;
  }

  .about p {
    margin: .5rem 10rem;
  }
}

@media screen and (max-width: 500px) {

  .projects {
    height: 160vh;
  }

  .card1, .card2, .card3 {
  width: 65%;
  margin-bottom: 4rem;
  }

  .about p {
    margin: .5rem 14rem;
  }

  .about h2 {
    margin-top: -5rem;
  }
}

@media screen and (max-width: 480px) {

  .projects {
    height: 180vh;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar ul li {
   margin: 0 0.3rem;
   padding: .4rem;
  }
}

@media screen and (max-width: 420px) {
  .projects {
    height: 170vh;
  }
}

@media screen and (max-width: 400px) {

  .projects {
    height: 170vh;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .navbar ul li {
  margin: 0 0.3rem;
  padding: .2rem;
 }

 .navbar ul li a {
   font-size:
  }

  .about h2 {
    font-size: 1.8rem;
  }

  .about p {
    font-size: .9rem;
  }

}

@media screen and (max-width: 370px) {

  .about p {
    margin: .5rem 16rem;
  }

  .footer h2 {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 325px) {

  .card1, .card2, .card3 {
    margin-bottom: 6rem;
  }

}
